<div class="container">

  <div class="section">
    <h1>New Tweet</h1>
    <div class="column is-4">
      <%= render 'form', tweet: @tweet %>

      <%= link_to 'Back', tweets_path %>
    </div>
  </div>
</div>